<form action="{{ path('post_module.result') }}" class="my-3">
  <input type="text" class="form-element" name="keyword" placeholder="{{ 'Keyword' |t }}">
  <button type="submit">{{ 'Search' |t }}</button>
</form>
