<div class="container">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="mainheading">

      <!-- Begin Top Meta -->
      <div class="row post-top-meta">
        <div class="col-md-2">
          <a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
        </div>
        <div class="col-md-10">
          <a class="link-dark" href="author.html">Sal</a><a href="#" class="btn follow">Follow</a>
          <span class="author-description">Founder of WowThemes.net and creator of <b>"Mediumish"</b> theme that you're currently previewing. Developing professional premium themes, templates, plugins, scripts since 2012.</span>
          <span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
        </div>
      </div>
      <!-- End Top Menta -->

      <h1 class="posttitle">{{ data.title.value }}</h1>

    </div>

    <!-- Begin Featured Image -->
    {% for key,image in data.images %}
    <img class="featured-image img-fluid" src="{{ file_url(image.uri.value) }}" alt="">
    <!-- End Featured Image -->
    {% endfor %}

    <!-- Begin Post Content -->
    <div class="article-post">
      {{ data.body.value |raw }}
    </div>
    <!-- End Post Content -->

    <!-- Begin Tags -->
    <div class="after-post-tags">


      <ul class="tags">
        {% for key,tag in data.tags %}

          <li class="list-group-item">
            <a href="#">{{ tag.name }}</a>
          </li>
        {% endfor %}


      </ul>
    </div>
    <!-- End Tags -->

  </div>
</div>
